
 @model Doctor


 <div class="container-fluid  " style="margin: 10px 0px" >

    <hr/>
<h1>Edit departamento</h1>

<a class="btn btn-warning" style="margin: 10px 0px" asp-controller="Departamento"
    asp-action="Index">
    Volver a Index
</a>

<form method="post">

    <input type="hidden" name="iddoctor"
       value="@Model.IdDoctor"/>

    <label>Apellido:</label>
    <input type="text" name="apellido"
        value="@Model.Apellido"/>

    <label>Especialidad:</label>
    <input type="text" name="especialidad"
        value="@Model.Especialidad"/>

    <label>Salario:</label>
    <input type="text" name="salario"
        value="@Model.Salario"/>

    <label>ID Hospital:</label>
    <input type="text" name="idhospital"
        value="@Model.IdHospital"/>
    
    <button class="btn btn-info">
        Update
    </button>


</form>

</div>